<?xml version="1.0" encoding="UTF-8"?>
<page version="1.0">
  <div>
    <%= @message %><br/>
  </div>
<div protocol="ussd">
    <input navigationId="form" title="<%= @h['CASHOUT_AMOUNT']%>" name="amount"/>
    <input navigationId="form" title="phone no" name="phone_number_from" value="<%= @phone_number_from %>" type="hidden"/><br/>

</div>
    <navigation id="form" protocol="ussd">
    <link pageId="cashout.xml?ssid=<%= @sess_id %>"></link>
    </navigation>




</page>

