<?xml version="1.0" encoding="UTF-8"?>
<page version="1.0">
  <div>
    <%= @message %><br/>
  </div>
<div protocol="ussd">
    <input navigationId="form" title="<%= @h['TRANSFER_TOPHONE'] %>" name="phone_number_to"/>
</div>
    <navigation id="form" protocol="ussd">
    <link pageId="transfer.xml?ssid=<%= @sess_id %>"></link>
    </navigation>




</page>

